@using CMPSC487W_Project3.Entities;
@using CMPSC487W_Project3.Entities.Forms;
@model List<vwLogin>
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="floatingDiv p-3">
            <div class="row d-flex justify-content-between align-items-center">
                <h4 class="mb-0 col-8 text-center">Manager Home Page</h4>
                <div class="col-4 float-end"><button class="btn btn-primary" onclick="showModal(event, 'addTenant')">Add Tenant</button></div>
            </div>
            <hr />
            <div class="row" id="filteredItems">
                @foreach (vwLogin tenant in Model)
                {
                    <div class="col-4 mb-3">
                        <center>
                            <div id="@tenant.TenantId" style="height: 150px; background-color: gray;" class="floatingDiv text-center position-relative" style="height: 350px; width: 350px;">
                                <div class="position-absolute top-0 end-0">
                                    <form method="post" action="/Home/DeleteTenant/@tenant.TenantId">
                                        <button type="submit" class="btn btn-danger">Delete Tenant</button>
                                    </form>
                                </div>
                                <div class="position-absolute top-0 start-0">
                                    <button class="btn btn-primary" onclick="showModal(event, 'addTenant', '@tenant.TenantId')">Update</button>
                                </div>
                                <h4 class="p-4">@tenant.Name</h4>
                                <p>Apartment: #@tenant.AppartmentNumber</p>
                            </div>
                        </center>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@IModal.ModalContainer("addTenant", Url.Action("_AddTenant"), staticBackdrop:true)

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function showModal(e, modalnm, id = 0) {
        e?.preventDefault();
        console.log('here')
        let mdl = $(`#${modalnm}Modal`);
        mdl.load(`${mdl.attr('href')}/${id}`, function () { mdl.modal('show'); });
    }
    function updateFileInput(inp) { $(inp).attr("noupload", false).parent().find('label').attr('title', inp.value).find('span').text(inp.value); }

    function addObject(objName) {
        $(`#add${objName}Form`).submit();
    }
</script>
