@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a hidden id="goToLogin" href="/Home/_Login"></a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        window.location.href = $('#goToLogin').attr('href');
    });
</script>