@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a hidden id="goToStoreLink" href="/Home/Store" class="btn btn-warning">Go To Store</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        window.location.href = $('#goToStoreLink').attr('href');
    });
</script>